{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<style>
table {
    font: 12px, Calibri;
    border-collapse: collapse;
    width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.5rem 1rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 6px; /* Скругляем уголки */
   }
</style>
{% if user.is_superuser %}
<a href="{% url 'add_quote' %}" class="btn">Добавить запрос</a>
<a href="{% url 'update_competitors' %}" class="btn">Обновить конкурентов</a>
{% endif %}
{% if is_editor %}
<a href="{% url 'add_quote' %}" class="btn">Добавить запрос</a>
{% endif %}
{% if is_editor %}
<a href="{% url 'add_quote' %}" class="btn">Добавить запрос</a>
<a href="{% url 'update_competitors' %}" class="btn">Обновить конкурентов</a>
{% endif %}
<br>
<br>


<table>
    <tr>
        <th>Дата</th>
        <th>Название</th>
        <th>Бренд</th>
        <th>Компэл</th>
    </tr>
    {% for q in quotes %}
    <tr>
        <td>{{ q.date }}</td>
        <td>{{ q.part_number }}</td>
        <td>{{ q.brand }}</td>
        <td>{{ q.compel_price }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
Вам нужно войти в свой аккаунт!
{% endif %}
{% endblock %}